body {
	background-color: #557A95;
}

.intro {
	margin: auto;
	margin-top: 40px;
	width: 50%;
	padding: 20px;
	text-align: center;
	color: white;
}

.title {
	font-size: 100px;
}

.divider {
	background-color: white;
}